/* تم دارک */
@font-face {
    font-family: 'Vazir';
    src: url('./font/Vazir.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Vazir';
}

a{
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 100px 0;
    text-align: center;
}
/* استایل برای سکشن مهارت‌ها */
#skills {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 50px 0;
    text-align: center;
}

#skills h2 {
    font-size: 2.5rem;
    color: #00ffcc;
    margin-bottom: 20px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #2a2a2a;
    color: #e0e0e0;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.skill:hover {
    background-color: #00ffcc;
    color: #121212;
}

header h1 {
    font-size: 3rem;
    color: #00ffcc;
    text-shadow: 0px 0px 15px rgba(0, 255, 204, 0.8);
}

header p {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #e0e0e0;
}

header .btn {
    background-color: #00ffcc;
    color: #121212;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    font-size: 1.2rem;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 255, 204, 0.8);
}

header .btn:hover {
    background-color: #009977;
    text-decoration: none;

    box-shadow: 0px 0px 20px rgba(0, 255, 204, 1);
}

section {
    padding: 50px 0;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #cfcfcf;
}

#projects .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #1a1a1a;
    border: 1px solid #00ffcc;
    padding: 20px;
    margin: 15px;
    width: 300px;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 255, 204, 0.5);
}

.project h3 {
    margin-bottom: 10px;
    color: #00ffcc;
}

.project p {
    color: #b3b3b3;
}

.project a {
    color: #00ffcc;
    text-decoration: none;
    width: 100%;
    display: block;
    font-weight: bold;
}

.project a:hover {
    color: #009977;
    text-decoration: underline;
}

.project:hover {
    text-decoration: none;

    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 255, 204, 0.8);
}

footer {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 30px 0;
    text-align: center;
}

footer h2 {
    margin-bottom: 20px;
}

footer .social-links {
    list-style: none;
}

footer .social-links li {
    display: inline-block;
    margin: 0 10px;
}

footer .social-links a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 1.2rem;
}

footer .social-links a:hover {
    color: #009977;
    text-decoration: none;

}

/* ریسپانسیو */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .project-list {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }
}
